* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-size: 12px;
	overflow: hidden;
	font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wrap {
	position: relative;
	/* padding: 10px; */
	margin: 10px;
	height: calc(100% - 20px);
}

.frame {
	width: 100%;
	height: 100%;
	position: absolute;
}
.frame.top {
	height: 50px;
	background-color: cadetblue;
}
.frame.content {
	overflow: auto;
	top: 0;
	height: calc(50% - 0px);
	background-color: darkgray;
}
.frame.control {
	overflow: auto;
	height: calc(50% - 0px);
	bottom: 0;
	background-color: blanchedalmond;
}
.frame.bottom {
	height: 50px;
	bottom: 50px;
	transform: translateY(100%);
	background-color: cornflowerblue;
}

.br-auto {
	display: flex;
	margin: 5px 0;
}
.gap-auto {
	/* width: calc(100% - 609px); */
	flex-grow: 99;
}
.label {
	width: 130px;
	text-align: right;
	margin-right: 5px;
}