<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header {% unless site.description or site.github.project_tagline %} class="without-description" {% endunless %}>
		<img class='logo' src="https://github.com/user-attachments/assets/c41d8c86-1c13-42e3-8360-b321255a9930" alt="Haru Memo"/>

        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        {% if site.description or site.github.project_tagline %}
          <p>{{ site.description | default: site.github.project_tagline }}</p>
        {% endif %}
        <!-- <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ github_name }}</small></a></p>
        <ul>
			{% if site.show_downloads %}
			  <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
			  <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
			{% endif %}
			  <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
		</ul> -->
		<ul>
			<li>
				<a href="https://apps.apple.com/us/app/haru-memo/id6596787973?platform=iphone">
					<!-- <img src="https://github.com/user-attachments/assets/e420372d-53a2-4199-8e0d-101daea99132" alt="App Store" /> -->
					<img src="../images/app_store.svg" alt="App Store" />
				</a>
			</li>
			<li style="display: none;">
				<a href="https://play.google.com/store/apps/details?id=com.appgeneration.itunerfree&referrer=utm_source%3Dmytuner-radio.com%26utm_medium%3Dwebsite%26utm_campaign%3Dmobile%2520footer">
					<img src="https://github.com/user-attachments/assets/8d523791-325f-44a8-ac5d-51cf5c4303f4" alt="Google Play" />
				</a>
			</li>
		</ul>
      </header>
      <section>

      {{ content }}

      </section>
    </div>
    <footer>
      <p style="width: 100%; text-align: center;">© 2024 KOOZone. All rights reserved.</p>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>
