<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header {% unless site.description or site.github.project_tagline %} class="without-description" {% endunless %}>
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        {% if site.description or site.github.project_tagline %}
          <p>{{ site.description | default: site.github.project_tagline }}</p>
        <!-- {% endif %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ github_name }}</small></a></p>
        <ul>
			{% if site.show_downloads %}
			  <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
			  <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
			{% endif %}
			  <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
		</ul> -->
		<ul>
			<li><img src="https://github.com/user-attachments/assets/270a11a3-be57-49f2-9d04-d01f8400ccb8" alt="Google Play" role="img" /></li>
			<li>
				<a href="https://itunes.apple.com/app/apple-store/id520502858?pt=420029&ct=mytuner-radio.com%20mobile&mt=8">
					<img src="https://github.com/user-attachments/assets/f08b72f4-511a-471a-9e88-0dfddef0a32a" alt="App Store" role="img" />
				</a>
			</li>
		</ul>
      </header>
      <section>

      {{ content }}

      </section>
    </div>
    <footer>
      <p style="width: 100%; text-align: center;">© 2024 KOOZone. All rights reserved.</p>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>
